body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10%;
  padding-bottom: auto;
}

.clock-style {
  font-family: 'Montserrat', serif;
  font-size: 14em;
  padding: 2%;
  z-index: 5;
}

.greeting-style {
  font-family: 'Raleway', serif;
  font-size: 6em;
  padding: 2%;
  z-index: 5;
}

.photos {
  position: absolute;
  top: auto;
  bottom: auto;
  width: 75%;
  height: 75%;
  overflow: hidden;
  z-index: 2;
}
